@import "./global.css"; /* Import global styles */

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.profile-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

/* Centered Profile Container */
.profile-container {
    max-width: 1000px;
    height: auto;
    background-image: url("../components/auth_box.jpg"); /* ✅ Set background */
    background-size: cover; /* Ensures it covers the whole container */
    background-position: center;
    background-repeat: no-repeat;
    padding: 200px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

